
<!--<div class="profile">-->
<!--<h2>Edit <%= resource_name.to_s.humanize %></h2> what is this???-->
<h2>edit your profile</h2>

<!--<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>-->


<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),html: { method: :put,class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

<%= f.input :name, label: "name" %>
<%= f.input :email, label: "email" %>
<%= f.input :password, label: "new password", autocomplete: "off" %>
<%= f.input :password_confirmation, label: "new password confirmation", autocomplete: "off" %>
<%= f.input :current_password, label: "current password" %>


  <div class="form-actions">
    <%= f.submit "update", class: "btn btn-warning" %>
  </div>
<% end %>

<h2>cancel my account</h2>

<p>Unhappy? <p><%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
<% end %>