<div class="row">
	<div class= "span6 offset3">
		<div class="well"> <!-- added for gray box around text -->
			<%= image_tag @gram.image %>
			<p>
  			<%= @gram.description %>
  		</P>
  		<p>
  			<%= @gram.user.name %>
  		</P>
  		<% if current_user == @gram.user %>
				<%= link_to 'Edit', edit_gram_path(@gram) %> |
				<% end %>
				<%= link_to 'Back', grams_path %>
			
		</div>
	</div>
</div>


